<div class="banner">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/c32512111875635.6009d0e35132a.png" alt="" width="100%" height="450px">
    <h1 class="bg-black text-light text-center">Our Newly Launched Products</h1>
</div>
 
 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 text-center" *ngFor="let products of allproducts | filter:searchTerm:'title'">
                <div class="card h-100 p-4 ">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="products.image" alt="..." height="200px">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.title}}</h5>
                            <!-- Product price-->
                            <p>Rating:{{products.rating.rate}}</p>
                            ${{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark  mt-auto" routerLink="viewproduct/{{products.id}}">View Products</a></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </section>
